*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f5f7fa;
}

nav{
    background:#001f4d;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:18px;
}

header{
    background:#003366;
    color:white;
    text-align:center;
    padding:30px;
}

.hero{
    background:linear-gradient(
    to right,
    #003366,
    #0066cc
    );

    color:white;
    text-align:center;
    padding:50px;
}

.hero h1{
    margin-bottom:15px;
}

.container{

    display:flex;
    justify-content:center;
    gap:40px;
    padding:40px;
    flex-wrap:wrap;

}

.form-box,
.result-box{

    width:450px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0px 5px 15px lightgray;

}

.form-box h2,
.result-box h2{

    margin-bottom:20px;
    color:#003366;

}

input,
select{

    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:8px;
    border:1px solid gray;

}

button{

    width:100%;
    padding:12px;
    background:#1c21c4;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;

}

button:hover{

    background:#01148b;

}

.college-card{

    background:#f2efef;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 2px 10px rgb(12, 5, 161);

}

.college-card h3{

    color:#104c8d;
    margin-bottom:10px;

}

footer{

    background:#0b4396;
    color:rgb(239, 235, 235);
    text-align:center;
    padding:20px;
    margin-top:20px;

}
